﻿@model IEnumerable<DeveloperPortal.Infrastructure.IPluginMetadata>

<ul>
@foreach (var pluginData in Model)
{
    <li>
        <ul>
            <li>@pluginData.Name</li>
            <li>@pluginData.Author</li>
            <li>@pluginData.Version</li>
            <li>@pluginData.ReleaseDate</li>
        </ul>
    </li>
}
</ul>